# jupyter/jupyterlab extensions
jupyter-server-proxy
jupyter-vscode-proxy
jupyterlab
jupyterlab-rise
ipywidgets

# lab-related packages
mariadb_kernel
sqlalchemy
ipython-sql
jupyterlab_sql
mysqlclient