###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################

# sqlalchemy
# ipython-sql
# jupyterlab_sql
# mysqlclient

# jupyter/jupyterlab extensions
# jupyter-server-proxy
# mariadb_kernel

#vscode
numpy
# jupyter-vscode-proxy